@model MvcEmpDemo.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Details</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
              <th>Employee Name:</th>
              <th>City:</th>
              <th>Gender:</th>
              <th>City:</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.EmpName)</td>
                <td>@Html.DisplayFor(model => model.EmpCity)</td>
                <td>@Html.DisplayFor(model => model.Gender)</td>
                <td>@Html.DisplayFor(model => model.Salary)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = Model.EmpId })</td>
            </tr>

        </tbody>
                
        
    </table>
</div>
<p>
     
    @Html.ActionLink("Back to List", "Index")
</p>
